<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>Youdao.Translator</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>050E4DA2-31C5-4C14-8C31-B4B981642C26</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1DBACCF8-3A88-48A2-AE9A-1EC3D292BEBD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>1631393E-5B53-4C8B-AF64-A04B687438DF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6B0F6A32-751F-4071-A1E8-76A2E9486962</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>224556A8-701F-43C1-B08A-A973D9A7DB58</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>95191CE8-8C68-4D5D-9D12-A44919926786</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>23AD3305-8115-499F-9222-ACB802BFE1A3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>224556A8-701F-43C1-B08A-A973D9A7DB58</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>284F6AAD-8FE7-44A6-AAE4-62A0F8BEE779</key>
		<array/>
		<key>487D7A3C-11A7-416D-8F0F-21097B979E4C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1631393E-5B53-4C8B-AF64-A04B687438DF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8FE8475E-6310-49A4-967E-D6CCE73A86AC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A78568B3-C360-4A35-A46A-0D91172F86EF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>487D7A3C-11A7-416D-8F0F-21097B979E4C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<true/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>6B0F6A32-751F-4071-A1E8-76A2E9486962</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<true/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>284F6AAD-8FE7-44A6-AAE4-62A0F8BEE779</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<true/>
			</dict>
		</array>
		<key>95191CE8-8C68-4D5D-9D12-A44919926786</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>050E4DA2-31C5-4C14-8C31-B4B981642C26</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>971BFFF5-E28E-41F4-B45A-A8216C2D230B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8FE8475E-6310-49A4-967E-D6CCE73A86AC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A78568B3-C360-4A35-A46A-0D91172F86EF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CAF59F43-6C28-47BF-B3DA-1A65C2198F2F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CAF59F43-6C28-47BF-B3DA-1A65C2198F2F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>34050778-5F09-4E68-A7AB-A3A4F7C58529</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D7047D97-8226-43FB-8656-4CF365DB3FE3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8FE8475E-6310-49A4-967E-D6CCE73A86AC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>WensonSmith</string>
	<key>description</key>
	<string>Translate using Youdao API</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Youdao Translate</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>CAF59F43-6C28-47BF-B3DA-1A65C2198F2F</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{query}</string>
				<key>matchcasesensitive</key>
				<false/>
				<key>matchmode</key>
				<integer>2</integer>
				<key>matchstring</key>
				<string>^(?!~).+</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>A78568B3-C360-4A35-A46A-0D91172F86EF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.utility.hidealfred</string>
			<key>uid</key>
			<string>34050778-5F09-4E68-A7AB-A3A4F7C58529</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>D7047D97-8226-43FB-8656-4CF365DB3FE3</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{query}</string>
				<key>matchcasesensitive</key>
				<false/>
				<key>matchmode</key>
				<integer>2</integer>
				<key>matchstring</key>
				<string>^~</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>487D7A3C-11A7-416D-8F0F-21097B979E4C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>~</string>
				<key>replacestring</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>1631393E-5B53-4C8B-AF64-A04B687438DF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>query="$1"

echo "$query"

echo -n "$query" | say $1 -v Samantha</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>6B0F6A32-751F-4071-A1E8-76A2E9486962</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>100</integer>
				<key>keyword</key>
				<string>yd</string>
				<key>queuedelaycustom</key>
				<integer>1</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>2</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string>正在翻译···</string>
				<key>script</key>
				<string>&lt;?php

require('YoudaoTranslate.php');

$keys = [
	['appKey' =&gt; getenv('youdao_appkey'), 'secret' =&gt; getenv('youdao_secret')]
];

$translator = new YoudaoTranslate($keys);
echo $translator-&gt;translate($argv[1]);

?&gt;</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>请输入要翻译的内容</string>
				<key>title</key>
				<string>有道翻译</string>
				<key>type</key>
				<integer>1</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>8FE8475E-6310-49A4-967E-D6CCE73A86AC</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>-1</integer>
				<key>hotmod</key>
				<integer>524288</integer>
				<key>hotstring</key>
				<string>double tap</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>971BFFF5-E28E-41F4-B45A-A8216C2D230B</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>cd $TMPDIR
query="$1"
voice="youdao-${query}.mp3"

echo say: "$voice" &gt;&amp;2

if [[ ! -e ${voice} ]]; then
  curl -SL#o "$voice" -# -d "audio=${query}" -d "type=1" "https://dict.youdao.com/dictvoice"
fi

afplay "$voice"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>284F6AAD-8FE7-44A6-AAE4-62A0F8BEE779</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Fetching Github Release</string>
				<key>script</key>
				<string>&lt;?php

require('Updater.php');

$updater = new Updater(getenv('version'));

echo $updater-&gt;fetchReleases();

?&gt;</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>查询更新中···</string>
				<key>type</key>
				<integer>1</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>224556A8-701F-43C1-B08A-A973D9A7DB58</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string>com.apple.Safari</string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>95191CE8-8C68-4D5D-9D12-A44919926786</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>openwith</key>
				<string></string>
				<key>sourcefile</key>
				<string>~/Downloads/Youdao Translate.alfredworkflow</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openfile</string>
			<key>uid</key>
			<string>1DBACCF8-3A88-48A2-AE9A-1EC3D292BEBD</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>update</string>
				<key>subtext</key>
				<string>Update YoudaoTranslate Workflow</string>
				<key>text</key>
				<string>更新有道翻译</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>23AD3305-8115-499F-9222-ACB802BFE1A3</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>seconds</key>
				<string>5</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.delay</string>
			<key>uid</key>
			<string>050E4DA2-31C5-4C14-8C31-B4B981642C26</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string># 配置有道 KEYS

&gt; 2017年9月3日更新 由于有道翻译 api 迁移到了有道智云，所以大家需要去有道智云进行注册然后创建应用了。步骤如下

1.注册有道智云帐号

  https://ai.youdao.com/

2. 创建一个自然语言翻译服务

  https://ai.youdao.com/fanyi-services.s

3. 创建一个应用并绑定第二步创建的服务

  https://ai.youdao.com/appmgr.s

4. 这样就可以获得应用(appKey)和密钥(secret)了

  应用详情 - 应用ID appKey, 应用密钥 secret

5. 把变量填入 workflow 右上角的 [X] 点开后的配置框中</string>
	<key>uidata</key>
	<dict>
		<key>050E4DA2-31C5-4C14-8C31-B4B981642C26</key>
		<dict>
			<key>xpos</key>
			<integer>780</integer>
			<key>ypos</key>
			<integer>540</integer>
		</dict>
		<key>1631393E-5B53-4C8B-AF64-A04B687438DF</key>
		<dict>
			<key>xpos</key>
			<integer>780</integer>
			<key>ypos</key>
			<integer>120</integer>
		</dict>
		<key>1DBACCF8-3A88-48A2-AE9A-1EC3D292BEBD</key>
		<dict>
			<key>xpos</key>
			<integer>900</integer>
			<key>ypos</key>
			<integer>510</integer>
		</dict>
		<key>224556A8-701F-43C1-B08A-A973D9A7DB58</key>
		<dict>
			<key>xpos</key>
			<integer>330</integer>
			<key>ypos</key>
			<integer>510</integer>
		</dict>
		<key>23AD3305-8115-499F-9222-ACB802BFE1A3</key>
		<dict>
			<key>xpos</key>
			<integer>130</integer>
			<key>ypos</key>
			<integer>510</integer>
		</dict>
		<key>284F6AAD-8FE7-44A6-AAE4-62A0F8BEE779</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>note</key>
			<string>在线发音</string>
			<key>xpos</key>
			<integer>900</integer>
			<key>ypos</key>
			<integer>340</integer>
		</dict>
		<key>34050778-5F09-4E68-A7AB-A3A4F7C58529</key>
		<dict>
			<key>xpos</key>
			<integer>1050</integer>
			<key>ypos</key>
			<integer>40</integer>
		</dict>
		<key>487D7A3C-11A7-416D-8F0F-21097B979E4C</key>
		<dict>
			<key>xpos</key>
			<integer>660</integer>
			<key>ypos</key>
			<integer>120</integer>
		</dict>
		<key>6B0F6A32-751F-4071-A1E8-76A2E9486962</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>note</key>
			<string>本地发音</string>
			<key>xpos</key>
			<integer>900</integer>
			<key>ypos</key>
			<integer>170</integer>
		</dict>
		<key>8FE8475E-6310-49A4-967E-D6CCE73A86AC</key>
		<dict>
			<key>xpos</key>
			<integer>330</integer>
			<key>ypos</key>
			<integer>170</integer>
		</dict>
		<key>95191CE8-8C68-4D5D-9D12-A44919926786</key>
		<dict>
			<key>xpos</key>
			<integer>550</integer>
			<key>ypos</key>
			<integer>510</integer>
		</dict>
		<key>971BFFF5-E28E-41F4-B45A-A8216C2D230B</key>
		<dict>
			<key>xpos</key>
			<integer>130</integer>
			<key>ypos</key>
			<integer>250</integer>
		</dict>
		<key>A78568B3-C360-4A35-A46A-0D91172F86EF</key>
		<dict>
			<key>xpos</key>
			<integer>660</integer>
			<key>ypos</key>
			<integer>40</integer>
		</dict>
		<key>CAF59F43-6C28-47BF-B3DA-1A65C2198F2F</key>
		<dict>
			<key>xpos</key>
			<integer>900</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
		<key>D7047D97-8226-43FB-8656-4CF365DB3FE3</key>
		<dict>
			<key>xpos</key>
			<integer>130</integer>
			<key>ypos</key>
			<integer>90</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>version</key>
		<string>v2.4.0</string>
		<key>youdao_appkey</key>
		<string></string>
		<key>youdao_secret</key>
		<string></string>
	</dict>
	<key>variablesdontexport</key>
	<array>
		<string>youdao_appkey</string>
		<string>youdao_secret</string>
	</array>
	<key>version</key>
	<string>2.4.0</string>
	<key>webaddress</key>
	<string>https://iwenson.com</string>
</dict>
</plist>
